.hero-wrapper {
    color: #fff;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom right;

    @media (max-width: $bp-medium) {
      height: auto;
      padding-top: 16rem;
      padding-bottom: 0;
    }
  }

  #link2 {
    @media (max-width: $bp-medium) {
      display: none;
    }
  }