.project-section {
    padding: 8rem 0 10rem;
    min-height: 120rem;
    
    @media (max-width: $bp-medium) {
        padding: 7rem 0 0;
        min-height: 85rem;
    }

    .post-loading {
        font-size: 3rem;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 5rem;

        .loader {
           margin-left: -24px;
        }
    }

    .category-filter {
        display: flex;
        list-style: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 8rem;
        margin-top: 5rem;

        display: none !important;

        @media (max-width: $bp-medium) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }

        li {
            color: #fff;
            cursor: pointer;
            padding: 1rem 2.5rem;
            margin: 1rem;
            background-color: $color-dark-2;
            border-radius: 0 2rem;
            opacity: 0;
            transform: translateY(4rem);
            transition: all .4s;

            @media (max-width: $bp-medium) {
                margin: .5rem;
                padding: 1rem 2rem;
                font-size: 1.4rem;
            }

            &.scrolled {
                opacity: 1;
                transform: translateY(0);
            }
            
            &:hover {
                transform: translateY(-1rem);
                background-color: $color-dark-3;
                
                @media (max-width: $bp-medium) {
                    transform: translateY(0);

                }
            }

            
            &.active {
                background-color: $color-primary !important;
            }
        }
    }

    .project-section-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -.5rem;
        margin-right: -.5rem;
        margin-top: 8rem;

        @media (max-width: $bp-medium) {
            margin-top: 1rem !important;
        }

        .project-section-item {
            width: calc(50% - 1rem);
            padding: 0;
            position: relative;
            display: none;
            height: 45rem;
            margin: .5rem;

            @media (max-width: $bp-medium) {
                width: 100%;
                padding: .5rem 0;
                height: 25rem;
                margin-bottom: 0;
            }

            &.scrolled {
                opacity: 1;
            }

            .project-section-item-overlay {
                display: none;

                @media (max-width: $bp-medium) {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: transparent;
                    z-index: 9;
                    display: block;

                    &.active {
                        display: none;
                    }
                }
            }

            img {
                width: 100%;
                height: 45rem;
                object-fit: cover;
                display: block;

                @media (max-width: $bp-medium) {
                    height: 24rem;
                }
            }


            &:nth-child(2n) {
                transform: translateY(3rem);
                
                @media (max-width: $bp-medium) {
                    transform: translateY(0);

                }
            }

            .project-section-item-text {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(28, 28, 28, .84);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all .4s;
                
                &:hover {
                    opacity: 1;
                }

                h3 {
                    font-size: 2.4rem;
                    text-transform: uppercase;

                    @media (max-width: $bp-medium) {
                        font-size: 1.8rem;
                    }
                }

                h4 {
                    font-size: 1.8rem;
                    font-weight: normal;
                    color: $color-primary;
                    text-transform: none;

                    @media (max-width: $bp-medium) {
                        font-size: 1.4rem;
                    }
                }

                .btn {
                    margin-top: .5rem;
                }

            }

            a {
                display: block;
            }

   
        }
    }

    .btn-load-more {
        display: block;
        background-color: $color-dark-2;
        color: #fff;
        padding: 2rem;
        border: none !important;
        margin: 10rem auto 0;
        text-align: center;
        width: 23rem;
        border-radius: 0 3rem;
        font-size: 1.8rem;
        transition: $transition;
        cursor: pointer;

        opacity: 0;

        &.hide {
            display: none !important;
        }

        @media (max-width: $bp-medium) {
            padding: 1.5rem;
            width: 16rem;
            font-size: 1.4rem;
            margin: 3rem auto 7rem;
        }

        &:hover {
            background-color: $color-primary;
            border: 1px solid $color-primary;
        }

        &.scrolled {
            opacity: 1;
        }
    }

}

.project-section-list.category-selected + .btn-load-more {
    display: none !important;
}

