.main-navigation {

    @media (max-width: $bp-large) {
        display: none;
    }

    .menu {
        display: flex;
        list-style: none;

        @media (max-width: $bp-large) {
            flex-direction: column;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            background-color: #fff;
            text-align: center;
            padding: 3rem 1rem;
            padding-top: 13rem;
        }

        & > ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 0 2rem;

            @media (max-width: $bp-medium) {
                padding-left: 0;
            }

            &.menu-item-has-children {

                a {
                    position: relative;
                    text-align: left;

                    @media (max-width: $bp-large) {
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 1.2rem;
                        height: 1rem;
                        top: 50%;
                        margin-top: -.4rem;
                        right: 0;
                        background-image: url(../img/icons/simple-arrow-down.svg);
                        background-size: contain;
                        background-repeat: no-repeat;

                        @media (max-width: $bp-large) {
                            right: auto;
                            transform: translateX(13px);
                        }

                    }
                }


            }
        }

        a {
            display: block;
            padding: 1rem 0;
            color: $color-dark;
            font-size: 1.8rem;
            transition: $transition;
            position: relative;
            text-align: center;
            font-weight: bold;
   
            &::after {
                content: '';
                position: absolute;
                bottom: -.5rem;
                left: 0;
                width: 0;
                height: 3px;
                transition: $transition;
                background-color: $color-primary;
            }

            @media (max-width: $bp-medium) {
                font-size: 1.8rem;
                font-weight: bold;
                text-transform: uppercase;
                padding: 1.5rem 2rem;
            }


            &:hover {
                @media (min-width: $bp-medium) {

                    &::after {
                        width: 100%;
                    }
                }
            }


        }

        .current-menu-item,
        .current_page_parent,
        .current-menu-ancestor {
            a {
                
                &::after {

                    width: 100%;

                }

                @media (max-width: $bp-medium) {
                    border-bottom: 0;
                    font-weight: bold;
                    color: $color-primary;
                }
            }

            .sub-menu {
                a {
                    border-bottom: none !important;

                    &:hover {
                        color: $color-primary;
                        border-bottom: none !important;
                    }
                }
            }
        }
    
    }

    // submenu
    .sub-menu {
        position: absolute;
        opacity: 0;
        display: none;
        list-style: none;
        z-index: 9;
        background-color: #fff;
        padding: 2rem 3rem 2rem 2rem;
        text-align: center;
        border-top: 1px solid $gray-border;
        transition: all .4s;
        border-radius: .5rem;
        box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .21);
        min-width: 19rem;

        @media (max-width: $bp-medium) {
            position: relative;
            text-align: center;
            border-radius: 0;
            box-shadow: none;
            padding: 2rem;
            transform: translateX(0);
            border: none;

            &.sub-menu-open {
                display: block;
                opacity: 1;
            }
        }

        a {
            padding: .5rem 1rem;
            font-size: 1.6rem;
            color: $color-dark;
            text-align: left;
            border-top: none !important;

            &:hover {
                color: $color-primary;
                border-top: none !important;
            }
        }
    }

    .menu-item-has-children:hover .sub-menu {

        @media (min-width: $bp-medium) {
            opacity: 1;
            display: block;
        }

    }

}
.header-wrapper-scrolled {
    .main-navigation .menu a {
        padding: 1.8rem 0;

        @media (max-width:  $bp-largest) {
            padding: 1.3rem 0;
        }
    }
}


// mobile nav
.nav-toggle {

    color: #000;

    &-active {
        display: block;
    }
}

// mobile icon
.menu-icon {
    width: 25px;
    height: 19px;
    z-index: 10;
    cursor: pointer;
    position: relative;
    z-index: 10;

    display: none;

    @media (max-width: $bp-large) {
        display: block;
    }

    $icon-color: $color-dark;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: $icon-color;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }

    &-middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: $icon-color;
        transition: all .3s ease-out;
        transform-origin: 0 50%;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: $icon-color;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
    }

    &--close-x::before {
        transform: rotate(45deg) scaleX(1.25);
        width: 20px;
    }

    &--close-x .menu-icon-middle {
        opacity: 0;
        transform: scaleX(0);
    }

    &--close-x::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        width: 20px;
    }
}