.welcome-page {
    padding: 10rem 0 0;

    @media (max-width: $bp-medium) {
        padding: 2rem 0 5rem;
    }

    .welcome-page-header {
        .header-logo {
            img {
                width: 100%;
                max-width: 15rem;
            }
        }
    }


        @media (max-width: $bp-medium) {
            padding-top: 4rem;
        }

        .welcome-page-text {
            padding-right: 5rem;
        }

        .welcome-page-icons-title {
            margin-top: 5rem;

            @media (max-width: $bp-medium) {
                margin-top: 3rem;
                font-size: 1.8rem;
            }
        }


        .welcome-page-icons {
            padding-top: 2rem;
            max-width: 90%;

            @media (max-width: $bp-medium) {
                max-width: 95%;
            }

            .wp-block-column:not(:nth-last-of-type(1)) figure {
                padding-right: 4rem;

                @media (max-width: $bp-largest) {
                    padding-right: 0;
                }
            }
        }


    // calendy
    .calendly-inline-widget-talk {
        min-width: 55rem !important;

        @media (max-width: 75em) {
            min-width: 40vw !important;
        }

        @media (max-width: $bp-medium) {
            min-width: 75vw !important;
        }
        
        @media (max-width: $bp-small) {
            min-width: 90vw !important;

        }

        & + p {
            display: none !important;
        }
    }

    // form
    .welcome-page-form {
        display: flex;

        @media (max-width: $bp-medium) {
            margin-top: 3rem;
        }

        input:focus-visible {
            box-shadow: none !important;
        }

        .welcome-page-form-inner {
            background-color: transparent;
            border-radius: 3rem !important;
            box-shadow: -1px 11px 10px 0px rgba(0, 0, 0, .04) !important;
            overflow: hidden;
            max-width: 56rem;
            margin-left: auto;

            @media (max-width: $bp-medium) {
                margin-right: auto;
            }

            
            form._form {
                padding: 5rem !important;
                margin: 0 !important;
                font-family: $font-primary !important;
                width: 100%;
                max-width: none !important;

                @media (max-width: $bp-medium) {
                    padding: 4rem 3rem !important;
                }

            }

          ._form_element {
            position: relative;
            margin-bottom: 2.5rem !important; 

            ._form-label {
                position: absolute;
                bottom: 1rem;
                width: 100%;
                font-weight: normal;
                transition: $transition;
                font-weight: normal !important;

                &.active {
                    transform: translate(0, -3.5rem);
                    font-size: 1.1rem !important;
                    opacity: .8;
                }
            }
          }
  
          ._form-content {
              input {
                  background-color: transparent;
                  border: none !important;
                  border-bottom: 1px solid #ddd !important;
                  color: $color-text;
                  padding: 1.5rem 2rem 1.5rem 0!important;
  
                  &::placeholder {
                    font-weight: normal;
                    opacity: 0.3;
                    color: $color-text;
                  }
              }

              ._checkbox-radio {
                input {

                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem !important;
                    transform: translateY(.3rem);
                    
                    @media (max-width: $bp-medium) {
                        transform: translateY(0);
                    }
                }

                label {
                    cursor: pointer;

                    @media (max-width: $bp-medium) {
                        font-size: 1.2rem !important;
                    }
                }
              }
          }

          ._form-title {
            font-size: 3rem !important;
            padding-bottom: 3rem !important;

            @media (max-width: $bp-medium) {
                font-size: 2rem !important;
            }
          }

          ._checkbox-radio {
            padding-top: 2rem !important;
          }

          ._button-wrapper {
            text-align: right;
            padding-top: 3rem !important;

            @media (max-width: $bp-medium) {
                text-align: center;
                padding-top: 1rem !important;
            }
          }


          // extra
          &#welcomeForm {
            #_form_1_submit {
                padding: 1.5rem 3rem !important;
                border-radius: 3rem !important;

                @media (max-width: $bp-medium) {
                    font-size: 1.4rem;
                }
            }

            form._form {
                background-color: rgba(255, 255, 255, .65) !important;

                @media (max-width: $bp-medium) {
                    background-color: rgba(255, 255, 255, 1) !important;
                }
            }

            ._checkbox-radio {
                input {
                @media (max-width: $bp-medium) {
                    margin-right: 1rem !important;
                }
              }
            }
                
          }
        }


    }

}