// Form 7
input[type=text],
input[type=email],
input[type=tel],
input[type=date],
.wpcf7-select,
textarea {
    width: 100%;
    max-width: 100%;
    height: 5rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
    background-color: $gray-form;
    border-radius: .5rem;
    border: none;
    opacity: .6;

    @media (max-width: $bp-medium) {
        height: 4rem;
        padding: 1.5rem 3rem;
        font-size: 1.4rem;
        margin-top: 0;
    }

    &::placeholder {
        color: #fff;
    }

    &:focus-visible {
        outline: none;
        box-shadow: $shadow-regular;
    }
}

textarea {
    height: 20rem;
    min-width: 100%;
    max-width: 100%;
    max-height: 20rem;
    min-height: 20rem;
}

input[type=checkbox] {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    transform: translateY(4px);
}

.wpcf7-form {

    &::after {
        @include clear-after;
    }
    
    .btn {
        float: right;
        height: 4.8rem;
        width: 20rem !important;
        position: relative;

        &::after {
            content: "";
            width: .9rem;
            height: 2rem;
            position: absolute;
            top: 50%;
            right: 3rem;
            margin-top: -1rem;
            background-image: url(../img/icons/arrow-small-right.svg);
            background-size: contain;
            background-repeat: no-repeat;
            transition: $transition;
            backface-visibility: hidden;
    
        }

        &:hover {
            &::after {
                transform: translateX(.5rem);
                backface-visibility: hidden;
            }
        }
    }

    &::after {
        @include clear-after;
    }
}

.wpcf7-submit {
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 0 !important;
    max-width: 30rem;
    color: #fff !important;
    background-color: $color-primary;
    border: none !important;
    width: 100%;

    transition: $transition;



    &:hover {
        background-color: $color-primary;
    }

}

.contact-form-checkbox span {
    color: #000;
}

.wpcf7-select {
    cursor: pointer;
    appearance: none;
    position: relative;
}


.select-div {
    position: relative;

    &::after {
        content: '';
        width: 1.6rem;
        height: 2rem;
        background-image: url(../img/arrow-pink.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 2.8rem;
        right: 1.8rem;
        position: absolute;
        pointer-events: none;
 }
}

option {
    background-color: $color-back-1;
    font-size: 1.6rem;
    cursor: pointer;
}

.contact-form-confirm {
    margin-left: -1.5rem;
    margin-top: 0;
    display: block;
}

// Form 7 errors
.screen-reader-response {
    display: none;
}

.wpcf7-not-valid-tip {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 0;
    color: $color-primary;
    padding-left: 2rem;
}

.wpcf7-response-output {
    font-size: 1.4rem;
    color: $color-primary;
    text-align: center;
    margin-top: 0rem;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output {
    border: none !important;
}

.acceptance-form {
    margin-top: 2rem;

    span, a {
        color: #fff;
        font-size: 1.4rem;
        line-height: 1.4;
    }

    a {
        text-decoration: underline;
    }

    input {
        margin-right: 0.5rem;
        transform: translateY(3px);
    }
}

.wpcf7 form.sent .wpcf7-response-output {
    border: none !important;
}